<html lang="en">
  <head>
    <meta charset="utf-8" />
      <link/>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content = {Astro.generator} >
        <title>404</title>
        
  </head>
  <body>
      404
  </body>
</html>

<style>
  :global(html) {
        scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
  </style>