---
import Social from '../components/social.astro';
import Footer from '../components/footer.astro';
import Timeline from '../components/timeline.astro';
import Skills from '../components/skills.astro';
import Resume from '../components/resume.astro';
import Menu from '../components/menu.astro';
import Contact from '../components/contact.astro';
import Header from '../components/header.astro';


import axios from 'axios'


 //Make a request for a user with a given ID
axios.get('http://127.0.0.1:1337/api/landing-page')
  .then(function (response) {
     //handle success
    console.log(response.data);
  })
  .catch(function (error) {
     //handle error
    console.log(error);
  })
  .then(function () {
     //always executed
  });



---
<html lang="en">
  <head>
    <meta charset="utf-8" />
      <link/>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content = {Astro.generator} >
        <title>Jan Ksenak space</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JNQCVE32DP"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-JNQCVE32DP');
        </script>
  </head>
  <body>
      <Menu/>
      <section id="Home" class="lg:pt-40 lg:pb-20 pt-32 pb-10 lg:px-24 md:px-20 sm:px-16 px-12  bg-gray-50">
          <Header/>
      </section>
      <section id="About" class="">
        <Skills/>
        <Timeline />
        <Resume />
      </section>
      <section id="Contact" class="lg:px-24 md:px-20 sm:px-16 px-12 bg-gray-50 md:py-8 py-4">
        <h2 class="md:text-4xl md:text-left text-3xl text-center font-medium text-gray-900">Contact and social media</h2>
        <Contact />
        <Social />
      </section>
      <Footer />
  </body>
</html>

<style>
  :global(html) {
        scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
  </style>
  <!-- Google tag (gtag.js) -->