---

---
<div class="py-8 flex xl:flex-nowrap flex-wrap xl:space-x-16 lg:px-24 md:px-20 sm:px-16 px-12 bg-gray-100">
    <div class="">
        <h2 class="xl:text-7xl lg:text-6xl text-5xl font-bold text-gray-900 mb-8 basis-1/3 text-center md:text-left">Experience with</h2>
    </div>
    <div class="">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Industrial automation</h2>
        <span class="inline-block bg-red-100 text-red-800 md:md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded ">ABB System 800xA</span>
        <span class="inline-block bg-amber-100 text-amber-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">ABB Control builder</span>
        <span class="inline-block bg-pink-100 text-pink-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">ABB AC500</span>
        <span class="inline-block bg-green-100 text-green-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">ABB Automation builder</span>
        <span class="inline-block bg-blue-100 text-blue-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">B&R Automation Studio</span>
        <span class="inline-block bg-indigo-100 text-indigo-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">B&R MappView</span>
        <span class="inline-block bg-yellow-100 text-yellow-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Process control</span>
        <span class="inline-block bg-indigo-100 text-indigo-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">HMI design</span>
        <span class="inline-block bg-purple-100 text-purple-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">IEC 61131 Languages</span>
        <span class="inline-block bg-teal-100 text-teal-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Autocad</span>
    </div>
    <div class="">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Computer science</h2>
        <span class="inline-block bg-blue-100 text-blue-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">C / C++</span>
        <span class="inline-block bg-indigo-100 text-indigo-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Python</span>
        <span class="inline-block bg-yellow-100 text-yellow-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Data structures</span>
        <span class="inline-block bg-indigo-100 text-indigo-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Cisco CCNA 4</span>
        <span class="inline-block bg-teal-100 text-teal-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Virtual machines</span>
        <span class="inline-block bg-amber-100 text-amber-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Javascript</span>
        <span class="inline-block bg-purple-100 text-purple-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Astro</span>
        <span class="inline-block bg-sky-100 text-sky-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">HTML / CSS</span>
        <span class="inline-block bg-emerald-100 text-emerald-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded">Tailwind</span>
        <span class="inline-block bg-red-100 text-red-800 md:text-m text-sm font-medium md:mr-2 md:mb-2 mr-1.5 mb-1.5 md:px-4 px-2 py-1 rounded ">GIT / Gitlab</span>

    </div>
</div>