---
import Social from '../components/social.astro';
import Footer from '../components/footer.astro';

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
      <link/>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content = {Astro.generator} >
        <title>Astro</title>
  </head>
  <body>
    <div class="container">
      
    </div> 
    <Social />
    <Footer />
  </body>
</html>
