---
import Social from '../components/social.astro';
import Footer from '../components/footer.astro';
import Timeline from '../components/timeline.astro';
import Skills from '../components/skills.astro';
import Resume from '../components/resume.astro';
import Menu from '../components/menu.astro';

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
      <link/>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content = {Astro.generator} >
        <title>Astro</title>
  </head>
  <body>
    <div id="Home" class="container">
      <Menu/>
      <section id="About">
        <Skills/>
        <Timeline />
        <Resume />
      </section>
      <Social />
      <Footer />
    </div>
  </body>
</html>

<style>
  :global(html) {
        scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
  </style>