---

---
<footer class="bg-gray-100 py-2"> 
    <span class="block text-sm text-gray-500 sm:text-center">Created by Jan Ksenak © 2022. Powered by Astro.
      <a href="" class="hover:underline"></a></span>
</footer> 