---
---
<nav id="navigation" class="bg-gray-50 sm:px-16 lg:px-24 md:px-20 px-12 py-2 fixed w-full z-20 top-0 left-0 drop-shadow-md">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="" class="flex items-center">
        <span class="self-center text-2xl font-bold whitespace-nowrap dark:text-white">JK.</span>
    </a>
    <div class="flex md:order-2">
        <button id="triggerEl" data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-900 rounded-lg md:hidden hover:text-rose-500 hover:bg-rose-100 focus:z-10 focus:bg-rose-100 focus:text-rose-500" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    <div id="targetEl" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 mt-4 rounded-lg md:flex-row space-y-2 md:space-y-0 md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li>
          <a href="#Home" class="nav-link block py-2 px-6 text-rose-600 bg-rose-100 rounded-lg hover:text-rose-600 hover:bg-rose-100  focus:text-rose-600 focus:bg-rose-100" >Home</a>
        </li>
        <li>
          <a href="#About" class="nav-link block py-2 px-6 text-gray-900 rounded-lg hover:text-rose-600 hover:bg-rose-100 focus:text-rose-600 focus:bg-rose-100">About me</a>
        </li>
        <li>
          <a href="#Contact" class="nav-link block py-2 px-6 text-gray-900 rounded-lg hover:text-rose-600 hover:bg-rose-100 focus:text-rose-600 focus:bg-rose-100">Contact</a>
        </li>
        <li>
          <button disabled type="button" class="disabled:bg-gray-200 disabled:text-gray-5 font-medium rounded-lg text-md py-2 px-6 text-center">Blog</button>
        </li>
      </ul>
    </div>
    </div>
</nav>

<script>
  import Collapse from '../scripts/collapse.js'

  const targetEl = document.getElementById('targetEl');
  const triggerEl = document.getElementById('triggerEl');
  const navigation = document.getElementById('navigation')

  const options = { triggerEl: triggerEl };
  const collapse = new Collapse(targetEl, options);

  collapse.expand();
  collapse.toggle();

  //click outside of navigation
  document.addEventListener('click', e => { 
    e.preventDefault();  
    if (!navigation.contains(e.target)){
      collapse.collapse();
    }});

  const makeNavLinksSmooth = () => {
      const navLinks = document.querySelectorAll('.nav-link');
      for (let n in navLinks) {
          if (navLinks.hasOwnProperty(n) ) {
              navLinks[n].addEventListener('click', e => {
              e.preventDefault();
              document.querySelector(navLinks[n].hash)
              .scrollIntoView({behavior: "smooth"});
          });
          }
    }
  }

  const spyScrolling = () => {
      const sections = document.querySelectorAll('section');
      console.log(sections)
      window.onscroll = () => {
          const scrollPos = document.documentElement.scrollTop || document.body.scrollTop;

          for (let s in sections){
              if (sections.hasOwnProperty(s) && (sections[s].offsetTop) <= scrollPos) {
                  const id = sections[s].id;
                  document.querySelector('.text-rose-600').classList.remove('text-gray-900', 'bg-rose-100', 'text-rose-600', 'focus:text-rose-600', 'focus:bg-rose-100');
                  document.querySelector(`a[href*=${id}]`).classList.add('text-rose-600', 'bg-rose-100' , 'focus:text-rose-600', 'focus:bg-rose-100');
              }
              if ((window.innerHeight + window.scrollY + 100) >= document.body.offsetHeight) {
                document.querySelector('.text-rose-600').classList.remove('text-gray-900', 'bg-rose-100', 'text-rose-600', 'focus:text-rose-600', 'focus:bg-rose-100');
                  document.querySelector(`a[href*='Contact']`).classList.add('text-rose-600', 'bg-rose-100' , 'focus:text-rose-600', 'focus:bg-rose-100');
              } 
      } 
  }}

  makeNavLinksSmooth();
  spyScrolling();


</script>